<div class="content ">
    <div class="activeaccount">
        <div class="titlecardinfo">
            Danh sách tài khoản đang bị khóa
        </div>
        <div class="table-responsive ">
            <table class="table table-hover table-dark table-striped">
                <!-- table-striped là tô màu xen kẽ -->
                <thead class="table-success text-center">
                    <tr class="text-center justify-content-center">
                        <td>Họ và tên</td>
                        <td>Username</td>
                        <td>Thời gian tạo</td>
                        <td>Trạng thái</td>
                        <td colspan="2">Thao tác</td>
                    </tr>
                </thead>
                {{#each users}}
                <tbody class="table-light text-center">
                    <tr>
                        <td>{{this.fullname}}</td>
                        <td>{{this.username}}</td>
                        <td>{{this.datecreate}}</td>
                        <td>{{this.statusAccount}}</td>
                        <td><a class="btn btn-primary" href="/detailuser/{{this.username}}">Thông tin chi
                                tiết</a>
                        </td>
                        <td>
                            <form action="/accountunvailable/active/{{this.username}}?_method=PUT" method="POST">
                                <button type="submit" class="btn btn-success">Kích hoạt lại tài khoản </button>
                            </form>
                        </td>

                    </tr>
                </tbody>
                {{/each}}
            </table>
        </div>
    </div>
</div>