<div class="info">
    Danh sách tài khoản chờ duyệt
</div>
<div class="table-responsive">
    <table class="table table-hover table-striped rounded-3">
        <!-- table-striped là tô màu xen kẽ -->
        <thead class="table-success text-center">
            <tr class="text-center justify-content-center">
                <td>Họ và tên</td>
                <td>Username</td>
                <td>Thời gian tạo</td>
                <td>Trạng thái</td>


                <td colspan="2">Thao tác</td>
                <td>Kích hoạt</td>
            </tr>
        </thead>
        {{#each users}}
        <tbody class="table-light text-center">
            <tr>
                <td>{{this.fullname}}</td>
                <td>{{this.username}}</td>
                <td>{{this.datecreate}}</td>

                <td>{{this.statusAccount}}</td>
                <td colspan="2"><a class="btn btn-light" href="/detailuser/{{this.username}}">Thông tin chi tiết</a>
                </td>
                <td><a class="btn btn-light" href="/">Kích hoạt tài khoản</a></td>

            </tr>
        </tbody>
        {{/each}}
    </table>
</div>