<div class="content ">
    <div class="approvetransfer">
        <div class="titlecardinfo">
            Giao dịch chuyển tiền giá trị cao
        </div>
        <div class="table-responsive ">
            <table class="table table-hover table-dark table-striped">
                <!-- table-striped là tô màu xen kẽ -->
                <thead class="table-success text-center">
                    <tr class="text-center justify-content-center">
                        <td>Người dùng</td>
                        <td>Thời gian tạo</td>
                        <td>Giá trị</td>
                        <td>Ghi chú</td>
                        <td>Trạng thái</td>
                        <td colspan="2">Thao tác</td>
                    </tr>
                </thead>
                {{#each credits}}
                <tbody class="table-light text-center">
                    <tr>
                        <td>{{this.creator}}</td>
                        <td>{{this.created}}</td>
                        <td>{{this.withdraw}}</td>
                        <td>{{this.note}}</td>
                        <td>{{this.status}}</td>

                        <td><a class="btn btn-success" href="/">Xác thực</a></td>
                        <td><a class="btn btn-danger" href="/">Từ chối</a></td>
                    </tr>
                </tbody>
                {{/each}}
            </table>
        </div>
    </div>
</div>