<div class="content ">
    <div class="approvetransfer">
        <div class="titlecardinfo">
            Giao dịch chuyển tiền giá trị cao
        </div>
        <div class="table-responsive ">
            <table class="table table-hover table-dark table-striped">
                <!-- table-striped là tô màu xen kẽ -->
                <thead class="table-success text-center">
                    <tr class="text-center justify-content-center">
                        <td>Người tạo</td>
                        <td>Loại giao dịch</td>
                        <td>Giá trị</td>
                        <td>Chuyển tiền</td>
                        <td>Nạp tiền/Rút tiền</td>
                        <td>Ngày giao dịch </td>
                        <td>Ghi chú </td>
                        <td>Trạng thái</td>
                        <td>Thao tác</td>
                    </tr>
                </thead>
                {{#each trans}}
                <tbody class="table-light text-center">
                    <tr>
                        <td>{{this.creator}}</td>
                        <td>{{this.type}}</td>
                        <td>{{this.coin}}</td>
                        <td>{{this.receiver}}</td>
                        <td>{{this.cardInfo}}</td>
                        <td>{{this.created}}</td>
                        <td>{{this.note}}</td>
                        <td>{{this.status}}</td>
                        <td>
                            <form action="/approvewithdraw/accept/{{this._id}}?_method=PUT" method="POST">
                                <button type="submit" class="btn btn-success">Phê duyệt</button>
                            </form>
                        </td>
                        <td>
                            <form action="/approvewithdraw/cancel/{{this._id}}?_method=PUT" method="POST">
                                <button type="submit" class="btn btn-danger">Hủy</button>
                            </form>
                        </td>
                </tbody>
                {{/each}}
            </table>
        </div>
    </div>
</div>