<div class="content updateinfo">
    <div class="titlecardinfo">
        Thông tin giao dịch
    </div>
    <div class="cardinfo">
        <div class="row mb-3">



            <div class=" col-md-6">
                <div class="titleinfo">
                    Người thực hiện
                </div>
            </div>
            <div class=" col-md-6">
                <div class="infouser name">
                    {{this.creator}}
                </div>
            </div>
        </div>
        <div class="row mb-3">



            <div class=" col-md-6">
                <div class="titleinfo">
                    Người nhận
                </div>
            </div>
            <div class=" col-md-6">
                <div class="infouser name">
                    {{this.receiver}}
                </div>
            </div>
        </div>
        <div class="row mb-3">
            <div class=" col-md-6">
                <div class="titleinfo">
                    Loại giao dịch
                </div>
            </div>

            <div class=" col-md-6">
                <div class="infouser">
                    {{this.type}}
                </div>
            </div>
        </div>
        <div class="row mb-3">
            <div class=" col-md-6">
                <div class="titleinfo">
                    Giá trị
                </div>
            </div>
            <div class=" col-md-6">
                <div class="infouser money">
                    {{coin}} VNĐ
                </div>
            </div>
        </div>

        <div class="row mb-3">
            <div class=" col-md-6">
                <div class="titleinfo">
                    Ghi chú
                </div>
            </div>
            <div class=" col-md-6">
                <div class="infouser">
                    {{this.note}}
                </div>
            </div>
        </div>

        <div class="row mb-3">
            <div class=" col-md-6">
                <div class="titleinfo">
                    Ngày giao dịch
                </div>
            </div>
            <div class=" col-md-6">
                <div class="infouser ">
                    {{this.created}}
                </div>
            </div>
        </div>
        <div class="row mb-3">
            <div class=" col-md-6">
                <div class="titleinfo">
                    Trạng thái giao dịch
                </div>
            </div>
            <div class=" col-md-6">
                <div class="infouser trangthai" status="{{status}}">
                    {{this.status}}
                </div>
            </div>
        </div>


        <td><a class="btn btn-primary btn-fuild btn-block" href="/">Quay lại trang chủ</a></td>






    </div>
</div>