<div class="content updateinfo">
    <div class="titlecardinfo">
        Thông tin giao dịch
    </div>
    <div class="cardinfo">
        <div class="row mb-3">
            <div class=" col-md-6">
                <div class="titleinfo">
                    Họ và tên
                </div>
            </div>
            <div class=" col-md-6">
                <div class="infouser name">
                    {{fullname}}
                </div>
            </div>
        </div>
        <div class="row mb-3">
            <div class=" col-md-6">
                <div class="titleinfo">
                    Giới tính
                </div>
            </div>
            <div class=" col-md-6">
                <div class="infouser">
                    {{gender}}
                </div>
            </div>
        </div>
        <div class="row mb-3">
            <div class=" col-md-6">
                <div class="titleinfo">
                    Số điện thoại
                </div>
            </div>
            <div class=" col-md-6">
                <div class="infouser">
                    {{numberphone}}
                </div>
            </div>
        </div>

        <div class="row mb-3">
            <div class=" col-md-6">
                <div class="titleinfo">
                    Email
                </div>
            </div>
            <div class=" col-md-6">
                <div class="infouser">
                    {{email}}
                </div>
            </div>
        </div>
        <div class="row mb-3">
            <div class=" col-md-6">
                <div class="titleinfo">
                    Số dư
                </div>
            </div>
            <div class=" col-md-6">
                <div class="infouser money">
                    {{money}} VNĐ
                </div>
            </div>
        </div>
        <div class="row mb-3">
            <div class=" col-md-6">
                <div class="titleinfo">
                    Trạng thái tài khoản
                </div>
            </div>
            <div class=" col-md-6">
                <div class="infouser trangthai"  status ="{{status}}">
                    {{status}}
                </div>
            </div>
        </div>
        
       
        <td><a class="btn btn-primary btn-fuild btn-block" href="/account">Quay lại trang quản lí người dùng</a></td>





    </div>
</div>