<div class="content detailuser">

    {{#if user1}}
    <div class="titlecardinfo">
        Thông tin tài khoản
    </div>
    <div class="cardinfo">
        <div class="row mb-3">
            <div class=" col-md-6">
                <div class="titleinfo ">
                    Họ và tên
                </div>
            </div>
            <div class=" col-md-6">
                <div class="infouser name">
                    {{user1.fullname2}}
                </div>
            </div>
        </div>
        <div class="row mb-3">
            <div class=" col-md-6">
                <div class="titleinfo">
                    Giới tính
                </div>
            </div>
            <div class=" col-md-6">
                <div class="infouser">
                    {{user1.gender2}}
                </div>
            </div>
        </div>
        <div class="row mb-3">
            <div class=" col-md-6">
                <div class="titleinfo">
                    Số điện thoại
                </div>
            </div>
            <div class=" col-md-6">
                <div class="infouser">
                    {{user1.numberphone2}}
                </div>
            </div>
        </div>

        <div class="row mb-3">
            <div class=" col-md-6">
                <div class="titleinfo">
                    Email
                </div>
            </div>
            <div class=" col-md-6">
                <div class="infouser">
                    {{user1.email2}}
                </div>
            </div>
        </div>
        <div class="row mb-3">
            <div class=" col-md-6">
                <div class="titleinfo">
                    Số dư
                </div>
            </div>
            <div class=" col-md-6">
                <div class="infouser money">
                    {{user1.money2}} VNĐ
                </div>
            </div>
        </div>

        <div class="row mb-3">
            <div class=" col-md-6">
                <div class="titleinfo">
                    Ngày tạo
                </div>
            </div>
            <div class=" col-md-6">
                <div class="infouser">
                    {{user1.datecreate2}}
                </div>
            </div>
        </div>
        <div class="row mb-3">
            <div class=" col-md-6">
                <div class="titleinfo">
                    Trạng thái tài khoản
                </div>
            </div>
            <div class=" col-md-6">
                <div class="infouser " id="statusaccount" detailstatusaccount="{{user.statusAccount2}}">
                    {{user1.statusAccount2}}
                </div>
            </div>
        </div>
        <div class="row mb-3 cccd" cccd="{{user.cccd2}}">
            <div class="col-md-12 note">
                Tài khoản cần được bổ sung lại ảnh Căn cước công dân
            </div>
        </div>




        {{/if}}
    </div>
</div>