<div class="content detailuser">

    <div class="titlecardinfo">
        Thông tin tài khoản
    </div>
    <div class="cardinfo">
        <div class="row mb-3">
            <div class=" col-md-6">
                <div class="titleinfo ">
                    Họ và tên
                </div>
            </div>
            <div class=" col-md-6">
                <div class="infouser name">
                    {{this.fullname}}
                </div>
            </div>
        </div>
        <div class="row mb-3">
            <div class=" col-md-6">
                <div class="titleinfo">
                    Giới tính
                </div>
            </div>
            <div class=" col-md-6">
                <div class="infouser">
                    {{this.gender}}
                </div>
            </div>
        </div>
        <div class="row mb-3">
            <div class=" col-md-6">
                <div class="titleinfo">
                    Số điện thoại
                </div>
            </div>
            <div class=" col-md-6">
                <div class="infouser">
                    {{this.numberphone}}
                </div>
            </div>
        </div>

        <div class="row mb-3">
            <div class=" col-md-6">
                <div class="titleinfo">
                    Email
                </div>
            </div>
            <div class=" col-md-6">
                <div class="infouser">
                    {{this.email}}
                </div>
            </div>
        </div>
        <div class="row mb-3">
            <div class=" col-md-6">
                <div class="titleinfo">
                    Số dư
                </div>
            </div>
            <div class=" col-md-6">
                <div class="infouser money">
                    {{this.money}} VNĐ
                </div>
            </div>
        </div>

        <div class="row mb-3">
            <div class=" col-md-6">
                <div class="titleinfo">
                    Ngày tạo
                </div>
            </div>
            <div class=" col-md-6">
                <div class="infouser">
                    {{this.datecreate}}
                </div>
            </div>
        </div>
        <div class="row mb-3">
            <div class=" col-md-6">
                <div class="titleinfo">
                    Trạng thái tài khoản
                </div>
            </div>
            <div class=" col-md-6">
                <div class="infouser " id="statusaccount">
                    {{this.status}}
                </div>
            </div>
        </div>
        <div class="row mb-3 cccd">
            <div class="col-md-12 note">
                Tài khoản cần được bổ sung lại ảnh Căn cước công dân
            </div>
        </div>

        <td><a class="btn btn-primary btn-fuild btn-block" href="/account">Quay lại trang quản lí người dùng</a></td>




    </div>
</div>