<div class="content ">
    <div class="activeaccount">
        <div class="titlecardinfo">
            Danh sách giao dịch
        </div>
        <div class="table-responsive ">
            <table class="table table-hover table-dark table-striped">
                <!-- table-striped là tô màu xen kẽ -->
                <thead class="table-success text-center">
                    <tr class="text-center justify-content-center">
                        <td>Loại giao dịch</td>
                        <td>Biến động số dư</td>
                        <td>Chuyển tiền</td>
                        <td>Nạp tiền/Rút tiền</td>
                        <td>Ngày giao dịch </td>
                        <td>Ghi chú </td>
                        <td>Trạng thái</td>
                        <td>Thao tác</td>

                    </tr>
                </thead>
                {{#each trans}}
                <tbody class="table-light text-center">
                    <tr>
                        <td style="display:none">{{this._id}}</td>

                        <td>{{this.type}}</td>
                        <td>{{this.coin}}</td>
                        <td>{{this.receiver}}</td>
                        <td>{{this.cardInfo}}</td>
                        <td>{{this.created}}</td>
                        <td>{{this.note}}</td>
                        <td>{{this.status}}</td>
                        <td><a class="btn btn-primary" href="/detailtran/{{this._id}}">Chi tiết giao dịch</a></td>

                    </tr>
                </tbody>
                {{/each}}
            </table>
            <td><a class="btn btn-primary btn-fuild btn-block" href="/account">Quay lại trang quản lí người dùng</a>
            </td>

        </div>
    </div>
</div>